gversion: "3.8"
services:
  bot:
    build: .
    restart: always
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
      - ADMIN_ID=${ADMIN_ID}
      - WEBHOOK_HOST=${WEBHOOK_HOST}
      - PORT=8080
    ports:
      - "8080:8080"
    volumes:
      - ./shop.db:/app/shop.db
